@charset "UTF-8";
@import url("https://fonts.google.com/");
/* mixins */
/* mixin para container de promos y nosotros */
/* mixin para botones */
/* mixin para formularios */
/* resto de la pag */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica;
}
body a {
  text-decoration: none;
}
body header {
  margin: 7px;
  display: flex;
  justify-content: space-between;
}
body header .leon {
  border-radius: 27px;
  display: flex;
  justify-content: center;
}
body header .menu {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 1000px;
  margin: 0;
  text-align: center;
  display: flex;
}
body header .menu li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 20px;
}
body header .barranav {
  display: inline-block;
}
body header .barranav li a:hover {
  transition: 0.2s ease-in-out;
  background-color: #3a1a5e;
  border-radius: 12px;
  color: #fff;
}

.logo img {
  width: 75px;
}
.logo h2 {
  color: rgb(0, 0, 0);
}
.logo a {
  display: flex;
}
.logo a img :hover {
  background-color: bisque;
}

.vuelos {
  height: 200px;
}
.vuelos h2 {
  margin-top: 5px;
  padding-left: 200px;
}

.brasil {
  display: flex;
  margin: 10px;
}

.brasil_img {
  display: flex;
}

h1 {
  text-align: left;
  margin-top: 45px;
  margin-bottom: 50px;
}

div.pie {
  text-align: center;
}

.galeria {
  background-color: rgb(41, 182, 158);
}

/* footer */
.pie-pagina {
  width: 100%;
  background-color: #3a1a5e;
  margin-top: 100px;
  margin-top: 150px;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  padding: 35px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 90px;
  border-radius: 27px;
}
.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
  color: #fff;
}
.pie-pagina .grupo-1 .box2 h2 {
  color: rgb(163, 217, 182);
  justify-content: center;
  text-align: center;
}
.pie-pagina .grupo-1 .box2 ul {
  list-style: none;
  justify-content: center;
  text-align: center;
  margin-right: 35px;
}
.pie-pagina .grupo-1 .box2 li a {
  color: white;
}
.pie-pagina .grupo-1 .box2 li a:hover {
  transition: 0.2s ease-in-out;
  color: black;
}

.formulario .control [type=text] :focus {
  background-color: aliceblue;
}

.size {
  height: 300px;
  width: 400px;
  margin: auto;
}

/* cartelera */
.vuelos-brasil {
  margin-top: 0px;
  margin-bottom: 90px;
}
.vuelos-brasil h1 {
  text-align: center;
}

.container {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  background-color: #3a1a5e;
  background-size: 100%;
  border-radius: 15px;
  margin-bottom: 40px;
}

.cards {
  background: rgb(163, 217, 182);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.1s ease;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  max-width: 290px;
}
.cards:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.cards button {
  margin-top: 20px;
  background-color: #a14be2;
  color: #000000;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}
.cards button:hover {
  background-color: #5a0556;
  color: white;
}

.nombre-empresa {
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.size {
  width: 100%;
  height: auto;
  max-height: 150px;
}

.pcards {
  margin-top: 10px;
}

/* acordion */
.acordion {
  max-width: 600px;
  margin: 0 auto;
}
.acordion .acordion-titulo {
  background-color: #f4f4f4;
  padding: 10px;
  display: block;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}
.acordion .acordion-titulo:hover {
  color: #b457da;
  transform: scale(1.01);
}
.acordion .acordion-content {
  display: none;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
}
.acordion input[type=checkbox] {
  display: none;
}
.acordion input[type=checkbox]:checked + .acordion-titulo + .acordion-content {
  display: block;
}

/* formulario de contacto */
.contact-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: rgb(163, 217, 182);
  margin-bottom: 115px;
}
.contact-form .div-consulta-contacto {
  margin-bottom: 12px;
}
.contact-form h2 {
  margin-bottom: 20px;
}
.contact-form form {
  text-align: left;
}
.contact-form label {
  display: block;
  margin-bottom: 5px;
}
.contact-form input,
.contact-form textarea {
  width: 80%;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}
.contact-form button {
  margin-top: 20px;
  background-color: #a14be2;
  color: #000000;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}
.contact-form button:hover {
  background-color: #5a0556;
  color: white;
}

/* formulario registrate */
.container-reg {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: rgb(163, 217, 182);
  margin-bottom: 115px;
}
.container-reg .contrasena-registro {
  margin: 12px;
}
.container-reg h1 {
  text-align: center;
  margin-bottom: 20px;
}
.container-reg form {
  display: flex;
  flex-direction: column;
}
.container-reg form label {
  font-weight: bold;
  margin-bottom: 5px;
}
.container-reg form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.container-reg form button {
  margin-top: 20px;
  background-color: #a14be2;
  color: #000000;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}
.container-reg form button:hover {
  background-color: #5a0556;
  color: white;
}

.medio {
  display: flex;
  justify-content: center;
}

.ul-viajá {
  margin-right: 350px;
  font-family: Arial, sans-serif;
  padding: 20px;
  border-radius: 10px;
}

/* grid */
.img-grid {
  display: flex;
  justify-content: end;
}

.container-grid {
  margin-right: 270px;
}

/* media */
@media (max-width: 720px) {
  .barranav ul {
    display: flex;
    flex-direction: column;
  }
  .header {
    justify-content: center;
  }
  .container-grid {
    margin-right: 0;
  }
  .pie-pagina .grupo-1 {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }
  .pie-pagina .grupo-1 ul {
    margin-right: 40px;
  }
  .vuelos-brasil {
    background-size: 128%;
  }
  .header {
    display: grid;
  }
}
@media (min-width: 1440px) {
  .container-reg {
    margin-top: 153px;
    margin-bottom: 200px;
  }
  .contact-form {
    margin-top: 153px;
    margin-bottom: 200px;
  }
  .promos-tittle {
    margin-top: 95px;
    margin-bottom: 200px;
  }
}
/* nosotros pag */
.container-nosotros {
  position: relative;
  padding: 60px 0;
  margin: 75px;
  border-radius: 15px;
}
.container-nosotros .img-ubi {
  display: flex;
  justify-content: center;
}
.container-nosotros h1 {
  text-align: center;
}
.container-nosotros .video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  opacity: 0.3;
  border-radius: 10px;
}

.container-nosotros-2 {
  flex-wrap: wrap;
  display: grid;
  gap: 50px;
  background-color: rgb(163, 217, 182);
  border-radius: 15px;
  padding: 20px;
  margin: 75px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  width: 160px;
}
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn-info:hover {
  background-color: #117a8b;
  border-color: #117a8b;
}

/* contenido Promos */
.promos-tittle {
  text-align: center;
}

.container-nosotros-2 {
  flex-wrap: wrap;
  display: grid;
  gap: 50px;
  background-color: rgb(163, 217, 182);
  border-radius: 15px;
  padding: 20px;
  margin: 75px;
}

/*# sourceMappingURL=estilos.css.map */
