/* mixin para container de promos y nosotros */

@mixin cont-nosotros-2 {
  flex-wrap: wrap;
  display: grid;
  gap: 50px;
  background-color: $primary-color;
  border-radius: 15px;
  padding: 20px;
  margin: 75px;
}

/* mixin para botones */

@mixin button-config{
  margin-top: 20px;
            background-color: #a14be2;
            color: #000000;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: #5a0556;
                color: white;
            }
}

/* mixin para formularios */

@mixin forms-travel{
  max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: $primary-color;
    margin-bottom: 115px;
}