@import url('https://fonts.google.com/');

// Variables

$primary-color: rgb(163, 217, 182);
$secondary-color: #17a2b8;
$text-color: rgb(0, 0, 0);

/* mixins */
@import'mixin';


  /* resto de la pag */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica;
    
    a {
        text-decoration: none;
    }

    header {
        margin: 7px;
        display: flex;
        justify-content: space-between;

        .menu {
            list-style: none;
            padding: 0;
            width: 100%;
            max-width: 1000px;
            margin: 0;
            text-align: center;
            display: flex;

            li a {
                text-decoration: none;
                color: $text-color;
                padding: 20px;
            }
        }

        .barranav {
            display: inline-block;
            li a:hover {
                transition: 0.3s ease-in-out;
                background-color: #b457da;
                border-radius: 12px;
            }
        }
    }
}

.vuelos-brasil {
    margin-top: 65px;
    margin-bottom: 90px;
    background-image: url(../imagenes/PuntaSal.webp);
    background-size: 100%;
    padding: 90px;

    h1{
        text-align: center;
    }
}

.logo {
    img {
        width: 75px;
    }

    h2 {
        color: $text-color;
    }

    a {
        display: flex;

        img :hover {
            background-color: bisque;
        }
    }
}

.vuelos {
    height: 200px;

    h2 {
        margin-top: 5px;
        padding-left: 200px;
    }
}

.brasil {
    display: flex;
    margin: 10px;
}

.brasil_img {
    display: flex;
}

h1 {
    text-align: left;
    margin-top: 45px;
    margin-bottom: 50px;
}

div.pie {
    text-align: center;
}

.galeria {
    background-color: rgb(41, 182, 158);
}

/* footer */

.pie-pagina {
    width: 100%;
    background-color: #360b21;
    margin-top: 100px;

    .grupo-1 {
        width: 100%;
        max-width: 1000px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 50px;
        padding: 35px 0px;

        .box {
            figure {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 90px;
                }
            }

            h2 {
                color: #fff;
                margin-bottom: 25px;
                font-size: 20px;
            }

            p {
                color: #fff;
            }
        }

        .box2{

            h2{
                color: $primary-color;
            } 
             
            ul{
                list-style: none;
            }         
                li a {
                    color: $text-color;
                }
                li a:hover {
                    transition: 0.3s ease-in-out;
                    background-color: #b457da;
                    border-radius: 8px;
                }
        }
    }
}

.formulario .control {
    [type=text] :focus {
        background-color: aliceblue;
    }
}

.size {
    height: 300px;
    width: 400px;
    margin: auto;
}

/* cartelera */

.vuelos-brasil{
    h1{
        text-align: center;
    }
}

.container {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    background-color: #360b21;
    background-size: 100%;
    border-radius: 15px;
    margin-bottom: 40px;
}

.cards {
    background: rgb(163, 217, 182);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.1s ease;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    max-width: 290px;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
}

.nombre-empresa {
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.size {
    width: 100%;
    height: auto;
    max-height: 150px;
}

.pcards {
    margin-top: 10px;
}

/* formulario de contacto */

.contact-form {
    
    @include forms-travel();
    

    .div-consulta-contacto {
        margin-bottom: 12px;
    }

    h2 {
        margin-bottom: 20px;
    }

    form {
        text-align: left;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input,
    textarea {
        width: 80%;
        padding: 20px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        outline: none;
    }

    button {
        @include button-config();
    }
}

/* formulario registrate */

.container-reg {
    
    @include forms-travel();

    .contrasena-registro {
        margin: 12px;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        input {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            @include button-config();
        }
    }
}

.medio {
    display: flex;
    justify-content: center;
}

.ul-viajá {
    margin-right: 350px;
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 10px;
}

/* grid */

.img-grid {
    display: flex;
    justify-content: end;
}

.container-grid {
    margin-right: 270px;
}

/* media */

@media (max-width: 720px) {
    .barranav ul {
        display: flex;
        flex-direction: column;
    }

    .header {
        justify-content: center;
    }

    .container-grid {
        margin-right: 0;
    }

    .pie-pagina .grupo-1 {
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }

    .vuelos-brasil {
        background-size: 128%;
    }

    .header {
        display: grid;
    }
}

/* nosotros pag */

.container-nosotros {
    background-image: url(../imagenes/fly\ jej.webp);
    background-size: 100%;
    padding: 120px 0;
    margin: 75px;
    border-radius: 15px;

    h1{
        text-align: center;
    }
}

.container-nosotros-2 {
    @include cont-nosotros-2;
  }

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    width: 160px;

    &:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
}

.btn-info {
    background-color: $secondary-color;
    border-color: $secondary-color;

    &:hover {
        background-color: #117a8b;
        border-color: #117a8b;
    }
}

/* contenido Promos */
 .promos-tittle {
    text-align: center;
 }

 .container-nosotros-2 {
    @include cont-nosotros-2;
  }